$color-primary: #cce5ff;
$color-primary-darker: #b8daff;
$color-default: #e2e3e5;
$color-default-darker: #d6d8db;
$color-success: #d4edda;
$color-success-darker: #c3e6cb;
$color-danger: #f8d7da;
$color-danger-darker: #f5c6cb;
$color-warning: #fff3cd;
$color-warning-darker: #ffeeba;
$color-info: #d1ecf1;
$color-info-darker: #bee5eb;